<div class="container">
  <div id="float-left">
    <div class='chart'>
      <h1>Trump-O-Meter</h1>
      <h2>Go Trump Yourself</h2>
      <div id="chart_div" style="width: 800px; height: 240px;"></div>
      <div style='height: 40px;'></div>
      <ul class="timeline">
      <li>
        <div class="avatar">
          <img src="http://ift.tt/1Lf8ZX5">
          <div class="hover">
            <div class="icon-twitter"></div>
          </div>
        </div>
        <div class="bubble-container">
          <div class="bubble">
          <div class="retweet">
            <div class="icon-retweet"></div>
          </div>
            <h3 class='last-tweet'></h3><br/>
            <div class="over-bubble">
              <div class="icon-mail-reply action"></div>
              <div class="icon-retweet action"></div>
              <div class="icon-star"></div>
            </div>
          </div>

          <div class="arrow"></div>
        </div>
      </li>
    </ul>
      <!-- <p class='last-tweet'></p> -->
    </div>
  </div>
  <div id="float-right">
    <div id="_giphy_tv"></div>
      <script>
      var _giphy_tv_tag="trump";
      var g = document.createElement('script'); g.type = 'text/javascript'; g.async = true;
      g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'giphy.com/static/js/widgets/tv.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(g, s);
      </script>
    </div>
  </div>
</div>





  </div>











<!--   <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="https://metrouk2.files.wordpress.com/2015/09/trump4.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text last-tweet" >

              </span>
            </div>
          </div>
        </div>
      </div>
 -->
